@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #13c8ec;
    --color-primary-dark: #0ea5c3;
    --color-primary-soft: rgba(19, 200, 236, 0.15);
  }
}